<router-outlet></router-outlet>
<div class="header">
    <div class="header_left">
        <i id="menu" class="material-icons" (click)="showSidebar()">menu</i>
        <img class="logo" src="../assets/youtube logo_icon.png" alt="logo"/>
    </div>
    <div class="header_search">
        <form action="">
            <input type="text" placeholder="Search"/>
            <button><i class="material-icons">search</i></button>
        </form>
    </div>
    <div class="header_icons">
        <i class="material-icons display-this">search</i>
        <i class="material-icons">videocam</i>
        <i class="material-icons">apps</i>
        <i class="material-icons">notifications</i>
        <i class="material-icons display-this">account_circle</i>
    </div>
</div>

<div class="mainBody">

    <div class="sidebar" [ngClass]="status? 'show-Sidebar':''">
        <div class="sidebar_categories">
            <div class="sidebar_category">
                <i class="material-icons">home</i>
                <span>Home</span>
            </div>
            <div class="sidebar_category">
                <i class="material-icons">history</i>
                <span>Shorts</span>
            </div>
            <div class="sidebar_category">
                <i class="material-icons">subscriptions</i>
                <span>Subscriptions</span>
            </div>
        </div>
        <hr />
        <div class="sidebar_categories">
            <div class="sidebar_category">
                <i class="material-icons">video_library</i>
                <span>Library</span>
            </div>
            <div class="sidebar_category">
                <i class="material-icons">history</i>
                <span>History</span>
            </div>
            <div class="sidebar_category">
                <i class="material-icons">play_arrow</i>
                <span>Your videos</span>
            </div>
            <div class="sidebar_category">
                <i class="material-icons">watch_later</i>
                <span>Watch later</span>
            </div>
        </div>
        <hr />
        <div class="sidebar_categories">
            <div class="sidebar_category">
                <i class="material-icons">settings</i>
                <span>Settings</span>
            </div>
            <div class="sidebar_category">
                <i class="material-icons">flag</i>
                <span>Report history</span>
            </div>
            <div class="sidebar_category">
                <i class="material-icons">help_outline</i>
                <span>Help</span>
            </div>
            <div class="sidebar_category">
                <i class="material-icons">feedback</i>
                <span>Send feedback</span>
            </div>
        </div>
    </div>

    <div class="videos">
        <h1>Recomended</h1>

        <div class="videos_container">

            <div class="video">
                <div class="video_thumbnail">
                    <img src="../assets/code-1076536_640.jpg" alt="video"/>
                </div>
                <div class="video_details">
                    <div class="author">
                        <img src="../assets/man_avatar_male_icon.png" alt="author"/>
                    </div>
                    <div class="title">
                        <h3>Random lines of code as description of thumbnail</h3>
                        <a href="">Francesco Ciulla</a>
                        <span>240 Views • 3 Months Ago </span>
                    </div>
                </div>
            </div><div class="video">
                <div class="video_thumbnail">
                    <img src="../assets/thought-catalog-9aOswReDKPo-unsplash.jpg" alt="video"/>
                </div>
                <div class="video_details">
                    <div class="author">
                        <img src="../assets/woman_avatar_user_female_icon.png" alt="author"/>
                    </div>
                    <div class="title">
                        <h3>Avacados!! on a pink background</h3>
                        <a href="">Amelie Griffith</a>
                        <span>240 Views • 3 Months Ago </span>
                    </div>
                </div>
            </div>
            <div class="video">
                <div class="video_thumbnail">
                    <img src="../assets/geometry-1023846_640.jpg" alt="video"/>
                </div>
                <div class="video_details">
                    <div class="author">
                        <img src="../assets/woman_avatar_female_icon.png" alt="author"/>
                    </div>
                    <div class="title">
                        <h3>Geometry and Maths are the way of life</h3>
                        <a href="">Youtube Boss</a>
                        <span>240 Views • 3 Months Ago </span>
                    </div>
                </div>
            </div>
            <div class="video">
                <div class="video_thumbnail">
                    <img src="../assets/mandala-2798417_640.jpg" alt="video"/>
                </div>
                <div class="video_details">
                    <div class="author">
                        <img src="../assets/woman_female_avatar_icon.png" alt="author"/>
                    </div>
                    <div class="title">
                        <h3>Foccus inwards, Comeone lets open the door to within</h3>
                        <a href="">Saige Fuentes</a>
                        <span>240 Views • 3 Months Ago </span>
                    </div>
                </div>
            </div>
            <div class="video">
                <div class="video_thumbnail">
                    <img src="../assets/thought-catalog-9aOswReDKPo-unsplash.jpg" alt="video"/>
                </div>
                <div class="video_details">
                    <div class="author">
                        <img src="../assets/woman_avatar_user_female_icon.png" alt="author"/>
                    </div>
                    <div class="title">
                        <h3>Avacados!! on a pink background</h3>
                        <a href="">Amelie Griffith</a>
                        <span>240 Views • 3 Months Ago </span>
                    </div>
                </div>
            </div>
            <div class="video">
                <div class="video_thumbnail">
                    <img src="../assets/mandala-2798417_640.jpg" alt="video"/>
                </div>
                <div class="video_details">
                    <div class="author">
                        <img src="../assets/woman_female_avatar_icon.png" alt="author"/>
                    </div>
                    <div class="title">
                        <h3>Foccus inwards, Comeone lets open the door to within</h3>
                        <a href="">Saige Fuentes</a>
                        <span>240 Views • 3 Months Ago </span>
                    </div>
                </div>
            </div>
            <div class="video">
                <div class="video_thumbnail">
                    <img src="../assets/code-1076536_640.jpg" alt="video"/>
                </div>
                <div class="video_details">
                    <div class="author">
                        <img src="../assets/man_avatar_male_icon.png" alt="author"/>
                    </div>
                    <div class="title">
                        <h3>Random lines of code as description of thumbnail</h3>
                        <a href="">Francesco Ciulla</a>
                        <span>240 Views • 3 Months Ago </span>
                    </div>
                </div>
            </div>
            <div class="video">
                <div class="video_thumbnail">
                    <img src="../assets/mike-dorner-sf_1ZDA1YFw-unsplash.jpg" alt="video"/>
                </div>
                <div class="video_details">
                    <div class="author">
                        <img src="../assets/man_avatar_male_icon.png" alt="author"/>
                    </div>
                    <div class="title">
                        <h3>And now you got banana too laying on pink background?</h3>
                        <a href="">Franklin Sierra</a>
                        <span>240 Views • 3 Months Ago </span>
                    </div>
                </div>
            </div>
            <div class="video">
                <div class="video_thumbnail">
                    <img src="../assets/mike-dorner-sf_1ZDA1YFw-unsplash.jpg" alt="video"/>
                </div>
                <div class="video_details">
                    <div class="author">
                        <img src="../assets/man_avatar_male_icon.png" alt="author"/>
                    </div>
                    <div class="title">
                        <h3>And now you got banana too laying on pink background?</h3>
                        <a href="">Franklin Sierra</a>
                        <span>240 Views • 3 Months Ago </span>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>